body {
    font-family: 'century', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    font-weight: 100;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.3em;
    color: #ff6a80;
}

header p {
    font-size: 1em;
    color: #ffb6c1;
}

.form-container {
    background: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 95%;
    padding: 12px;
    margin-bottom: 20px; 
    border: 2px solid #ffb6c1;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 1em; 
    font-weight: 100;
}

form button {
    border-radius: 5px;
    width: 30%; 
    padding: 12px;
    background-color: #ffb6c1;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'century', sans-serif;
    font-weight: 100;
}

form button:hover {
    background-color: #ff6a80;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ffffff;
    padding: 12px;
    text-align: left;
    font-size: 1em; 
    font-weight: 100;
}

table th {
    background-color: #ffb6c1;
    color: white;
}

table td {
    background-color: #f9f9f9;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}
